body {
    background-color: rgb(22, 22, 22, 1);
}
.bg-very-dark {
    background-color: rgb(36, 36, 36, 1);
}
.red {
	background-color: rgb(215, 30, 34);
}
.blue {
	background-color: rgb(29, 60, 233);
}
.green {
	background-color: rgb(27, 145, 62);
}
.pink {
	background-color: rgb(255, 99, 212);
}
.orange {
	background-color: rgb(255, 141, 28);
}
.yellow {
	background-color: rgb(255, 255, 103);
}
.black {
	background-color: rgb(74, 86, 94);
}
.white {
	background-color: rgb(233, 247, 255);
}
.purple {
	background-color: rgb(120, 61, 210);
}
.brown {
	background-color: rgb(128, 88, 45);
}
.cyan {
	background-color: rgb(68, 255, 247);
}
.lime {
	background-color: rgb(91, 255, 75);
}
.maroon {
	background-color: rgb(108, 43, 61);
}
.rose {
	background-color: rgb(255, 214, 236);
}
.banana {
	background-color: rgb(255, 255, 190);
}
.gray {
	background-color: rgb(131, 151, 167);
}
.tan {
	background-color: rgb(159, 153, 137);
}
.coral {
	background-color: rgb(236, 117, 120);
}
.image-label {
    padding: 0.4em 0.65em;
}
