
<div class="card bg-very-dark">
    <div class="card-header" id="colorHeading">
        <h2 class="mb-0">
            <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#colorCollapse" aria-expanded="false" aria-controls="colorCollapse">
                Body Color
            </button>
        </h2>
    </div>
    <div id="colorCollapse" class="collapse hide" aria-labelledby="colorHeading">
        <div class="card-body">
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline bg-white m-0">
                    <input type="radio" id="randomColor" name="color" value="None" class="custom-control-input" checked>
                    <label class="custom-control-label text-dark ml-3" for="randomColor">Random</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline red m-0">
                    <input type="radio" id="redColor" name="color" value="red" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="redColor"><img src="/static/img/red_idle.png" class="image-label" alt="Red Among Us Crewmate" title="Red Among Us Crewmate">Red</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline blue m-0">
                    <input type="radio" id="blueColor" name="color" value="blue" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="blueColor"><img src="/static/img/blue_idle.png" class="image-label" alt="Blue Among Us Crewmate" title="Blue Among Us Crewmate">Blue</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline green m-0">
                    <input type="radio" id="greenColor" name="color" value="green" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="greenColor"><img src="/static/img/green_idle.png" class="image-label" alt="Green Among Us Crewmate" title="Green Among Us Crewmate">Green</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline pink m-0">
                    <input type="radio" id="pinkColor" name="color" value="pink" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="pinkColor"><img src="/static/img/pink_idle.png" class="image-label" alt="Pink Among Us Crewmate" title="Pink Among Us Crewmate">Pink</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline orange m-0">
                    <input type="radio" id="orangeColor" name="color" value="orange" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="orangeColor"><img src="/static/img/orange_idle.png" class="image-label" alt="Orange Among Us Crewmate" title="Orange Among Us Crewmate">Orange</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline yellow m-0">
                    <input type="radio" id="yellowColor" name="color" value="yellow" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="yellowColor"><img src="/static/img/yellow_idle.png" class="image-label" alt="Yellow Among Us Crewmate" title="Yellow Among Us Crewmate">Yellow</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline black m-0">
                    <input type="radio" id="blackColor" name="color" value="black" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="blackColor"><img src="/static/img/black_idle.png" class="image-label" alt="Black Among Us Crewmate" title="Black Among Us Crewmate">Black</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline white m-0">
                    <input type="radio" id="whiteColor" name="color" value="white" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="whiteColor"><img src="/static/img/white_idle.png" class="image-label" alt="White Among Us Crewmate" title="White Among Us Crewmate">White</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline purple m-0">
                    <input type="radio" id="purpleColor" name="color" value="purple" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="purpleColor"><img src="/static/img/purple_idle.png" class="image-label" alt="Purple Among Us Crewmate" title="Purple Among Us Crewmate">Purple</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline brown m-0">
                    <input type="radio" id="brownColor" name="color" value="brown" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="brownColor"><img src="/static/img/brown_idle.png" class="image-label" alt="Brown Among Us Crewmate" title="Brown Among Us Crewmate">Brown</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline cyan m-0">
                    <input type="radio" id="cyanColor" name="color" value="cyan" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="cyanColor"><img src="/static/img/cyan_idle.png" class="image-label" alt="Cyan Among Us Crewmate" title="Cyan Among Us Crewmate">Cyan</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline lime m-0">
                    <input type="radio" id="limeColor" name="color" value="lime" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="limeColor"><img src="/static/img/lime_idle.png" class="image-label" alt="Lime Among Us Crewmate" title="Lime Among Us Crewmate">Lime</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline maroon m-0">
                    <input type="radio" id="maroonColor" name="color" value="maroon" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="maroonColor"><img src="/static/img/maroon_idle.png" class="image-label" alt="Maroon Among Us Crewmate" title="Maroon Among Us Crewmate">Maroon</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline rose m-0">
                    <input type="radio" id="roseColor" name="color" value="rose" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="roseColor"><img src="/static/img/rose_idle.png" class="image-label" alt="Rose Among Us Crewmate" title="Rose Among Us Crewmate">Rose</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline banana m-0">
                    <input type="radio" id="bananaColor" name="color" value="banana" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="bananaColor"><img src="/static/img/banana_idle.png" class="image-label" alt="Banana Among Us Crewmate" title="Banana Among Us Crewmate">Banana</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline gray m-0">
                    <input type="radio" id="grayColor" name="color" value="gray" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="grayColor"><img src="/static/img/gray_idle.png" class="image-label" alt="Gray Among Us Crewmate" title="Gray Among Us Crewmate">Gray</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline tan m-0">
                    <input type="radio" id="tanColor" name="color" value="tan" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="tanColor"><img src="/static/img/tan_idle.png" class="image-label" alt="Tan Among Us Crewmate" title="Tan Among Us Crewmate">Tan</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline coral m-0">
                    <input type="radio" id="coralColor" name="color" value="coral" class="custom-control-input">
                    <label class="custom-control-label text-dark ml-3" for="coralColor"><img src="/static/img/coral_idle.png" class="image-label" alt="Coral Among Us Crewmate" title="Coral Among Us Crewmate">Coral</label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-very-dark">
    <div class="card-header" id="skinHeading">
        <h4 class="mb-0">
            <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#skinCollapse" aria-expanded="false" aria-controls="skinCollapse">
                Skin
            </button>
        </h4>
    </div>
    <div id="skinCollapse" class="collapse hide" aria-labelledby="skinHeading">
        <div class="card-body">
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="noSkin" name="skin" value="None" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="noSkin">None</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="randSkin" name="skin" value="rand" class="custom-control-input" checked>
                    <label class="custom-control-label text-light ml-3" for="randSkin">Random</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="archaeSkin" name="skin" value="archae" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="archaeSkin">Archaeologist</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="astroSkin" name="skin" value="astro" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="astroSkin">Astronaut</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="captSkin" name="skin" value="capt" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="captSkin">Captain</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="hazmatSkin" name="skin" value="hazmat" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="hazmatSkin">Hazmat Suit</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="mechSkin" name="skin" value="mech" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="mechSkin">Mechanic</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="militarySkin" name="skin" value="military" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="militarySkin">Military Uniform</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="minerSkin" name="skin" value="miner" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="minerSkin">Miner</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="policeSkin" name="skin" value="police" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="policeSkin">Police Uniform</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="secguardSkin" name="skin" value="secguard" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="secguardSkin">Security Guard</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="scienceSkin" name="skin" value="science" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="scienceSkin">Doctor</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="blacksuitSkin" name="skin" value="blacksuit" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="blacksuitSkin">Black Suit</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="whitesuitSkin" name="skin" value="whitesuit" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="whitesuitSkin">White Suit</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="tarmacSkin" name="skin" value="tarmac" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="tarmacSkin">Tarmac Worker</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="wallSkin" name="skin" value="wall" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="wallSkin">Wall Guard</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="winterSkin" name="skin" value="winter" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="winterSkin">Winter Gear</label>
                </div>
            </div>
        </div>
    </div>
</div>