
<div class="card bg-very-dark">
    <div class="card-header" id="colorHeading">
        <h2 class="mb-0">
            <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#colorCollapse" aria-expanded="false" aria-controls="colorCollapse">
                Body Color
            </button>
        </h2>
    </div>
    <div id="colorCollapse" class="collapse hide" aria-labelledby="colorHeading">
        <div class="card-body">
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline bg-white m-0">
                    <input type="radio" id="randomColor" name="color" value="None" class="custom-control-input" checked>
                    <label class="custom-control-label text-dark ml-3" for="randomColor">Random</label>
                </div>
            </div>
            {% for color in colors %}
                {% if loop.index0 % 3 == 0 %}
                <div class="row">
                {% endif %}
                    <div class="col custom-control custom-radio custom-control-inline {{color}} m-0">
                        <input type="radio" id="{{color}}Color" name="color" value="{{color}}" class="custom-control-input">
                        <label class="custom-control-label {{'text-light' if color in light_colors else 'text-dark'}} ml-3" for="{{color}}Color"><img src="/static/img/{{color}}_idle.png" class="image-label" alt="{{color|title}} Among Us Crewmate" title="{{color|title}} Among Us Crewmate">{{color|title}}</label>
                    </div>
                {% if loop.index0 % 3 == 2 or loop.last %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<div class="card bg-very-dark">
    <div class="card-header" id="skinHeading">
        <h4 class="mb-0">
            <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#skinCollapse" aria-expanded="false" aria-controls="skinCollapse">
                Skin
            </button>
        </h4>
    </div>
    <div id="skinCollapse" class="collapse hide" aria-labelledby="skinHeading">
        <div class="card-body">
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="noSkin" name="skin" value="none" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="noSkin">None</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="randSkin" name="skin" value="rand" class="custom-control-input" checked>
                    <label class="custom-control-label text-light ml-3" for="randSkin">Random</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="archaeSkin" name="skin" value="archae" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="archaeSkin">Archaeologist</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="astroSkin" name="skin" value="astro" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="astroSkin">Astronaut</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="captSkin" name="skin" value="capt" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="captSkin">Captain</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="hazmatSkin" name="skin" value="hazmat" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="hazmatSkin">Hazmat Suit</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="mechSkin" name="skin" value="mech" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="mechSkin">Mechanic</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="militarySkin" name="skin" value="military" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="militarySkin">Military Uniform</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="minerSkin" name="skin" value="miner" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="minerSkin">Miner</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="policeSkin" name="skin" value="police" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="policeSkin">Police Uniform</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="secguardSkin" name="skin" value="secguard" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="secguardSkin">Security Guard</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="scienceSkin" name="skin" value="science" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="scienceSkin">Doctor</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="blacksuitSkin" name="skin" value="blacksuit" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="blacksuitSkin">Black Suit</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="whitesuitSkin" name="skin" value="whitesuit" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="whitesuitSkin">White Suit</label>
                </div>
            </div>
            <div class="row">
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="tarmacSkin" name="skin" value="tarmac" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="tarmacSkin">Tarmac Worker</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="wallSkin" name="skin" value="wall" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="wallSkin">Wall Guard</label>
                </div>
                <div class="col custom-control custom-radio custom-control-inline m-0">
                    <input type="radio" id="winterSkin" name="skin" value="winter" class="custom-control-input">
                    <label class="custom-control-label text-light ml-3" for="winterSkin">Winter Gear</label>
                </div>
            </div>
        </div>
    </div>
</div>
