<html>
    <head>
        <title>Among Us Ejection GIF Generator</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <link rel="stylesheet" href="/static/css/main.css">
    </head>
    <body>
        <div class="container-fluid">
            <div class="jumbotron bg-transparent">
                <h1 class="display-1 text-center text-muted">Among Us Ejection GIF Generator</h1>
            </div>
            <div class="row justify-content-center">
                <div class="col-6">
                    <form action="/" method="POST">
                        <div class="form-group text-light">
                            <label for="person">Name</label>
                            <input type="text" class="form-control" name="person">
                        </div>
                        <div class="card bg-very-dark">
                            <div class="card-header" id="colorHeading">
                                <h2 class="mb-0">
                                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#colorCollapse" aria-expanded="false" aria-controls="colorCollapse">
                                        Body Color
                                    </button>
                                </h2>
                            </div>
                            <div id="colorCollapse" class="collapse hide" aria-labelledby="colorHeading">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline bg-white m-0">
                                            <input type="radio" id="randomColor" name="color" value="None" class="custom-control-input" checked>
                                            <label class="custom-control-label text-dark ml-3" for="randomColor">Random</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline red m-0">
                                            <input type="radio" id="redColor" name="color" value="red" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="redColor">Red</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline blue m-0">
                                            <input type="radio" id="blueColor" name="color" value="blue" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="blueColor">Blue</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline green m-0">
                                            <input type="radio" id="greenColor" name="color" value="green" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="greenColor">Green</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline pink m-0">
                                            <input type="radio" id="pinkColor" name="color" value="pink" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="pinkColor">Pink</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline orange m-0">
                                            <input type="radio" id="orangeColor" name="color" value="orange" class="custom-control-input">
                                            <label class="custom-control-label text-dark ml-3" for="orangeColor">Orange</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline yellow m-0">
                                            <input type="radio" id="yellowColor" name="color" value="yellow" class="custom-control-input">
                                            <label class="custom-control-label text-dark ml-3" for="yellowColor">Yellow</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline grey m-0">
                                            <input type="radio" id="greyColor" name="color" value="grey" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="greyColor">Black</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline white m-0">
                                            <input type="radio" id="whiteColor" name="color" value="white" class="custom-control-input">
                                            <label class="custom-control-label text-dark ml-3" for="whiteColor">White</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline purple m-0">
                                            <input type="radio" id="purpleColor" name="color" value="purple" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="purpleColor">Purple</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline brown m-0">
                                            <input type="radio" id="brownColor" name="color" value="brown" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="brownColor">Brown</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline cyan m-0">
                                            <input type="radio" id="cyanColor" name="color" value="cyan" class="custom-control-input">
                                            <label class="custom-control-label text-dark ml-3" for="cyanColor">Cyan</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline lime m-0">
                                            <input type="radio" id="limeColor" name="color" value="lime" class="custom-control-input">
                                            <label class="custom-control-label text-dark ml-3" for="limeColor">Lime</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-very-dark">
                            <div class="card-header" id="skinHeading">
                                <h4 class="mb-0">
                                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#skinCollapse" aria-expanded="false" aria-controls="skinCollapse">
                                        Skin
                                    </button>
                                </h4>
                            </div>
                            <div id="skinCollapse" class="collapse hide" aria-labelledby="skinHeading">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="noSkin" name="skin" value="None" class="custom-control-input" checked>
                                            <label class="custom-control-label text-light ml-3" for="noSkin">None</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="randSkin" name="skin" value="rand" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="randSkin">Random</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="archaeSkin" name="skin" value="archae" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="archaeSkin">Archaeologist</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="astroSkin" name="skin" value="astro" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="astroSkin">Astronaut</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="captSkin" name="skin" value="capt" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="captSkin">Captain</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="hazmatSkin" name="skin" value="hazmat" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="hazmatSkin">Hazmat Suit</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="mechSkin" name="skin" value="mech" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="mechSkin">Mechanic</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="militarySkin" name="skin" value="military" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="militarySkin">Military Uniform</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="minerSkin" name="skin" value="miner" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="minerSkin">Miner</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="policeSkin" name="skin" value="police" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="policeSkin">Police Uniform</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="secguardSkin" name="skin" value="secguard" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="secguardSkin">Security Guard</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="scienceSkin" name="skin" value="science" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="scienceSkin">Doctor</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="blacksuitSkin" name="skin" value="blacksuit" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="blacksuitSkin">Black Suit</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="whitesuitSkin" name="skin" value="whitesuit" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="whitesuitSkin">White Suit</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="tarmacSkin" name="skin" value="tarmac" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="tarmacSkin">Tarmac Worker</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="wallSkin" name="skin" value="wall" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="wallSkin">Wall Guard</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="winterSkin" name="skin" value="winter" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="winterSkin">Winter Gear</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card bg-very-dark mb-3">
                            <div class="card-header" id="identityHeading">
                                <h4 class="mb-0">
                                    <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#identityCollapse" aria-expanded="false" aria-controls="identityCollapse">
                                        Identity
                                    </button>
                                </h4>
                            </div>
                            <div id="identityCollapse" class="collapse hide" aria-labelledby="identityHeading">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="randImpostor" name="impostor" value="rand" class="custom-control-input" checked>
                                            <label class="custom-control-label text-light ml-3" for="randImpostor">Random</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="yesImpostor" name="impostor" value="red" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="yesImpostor">Impostor</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="noImpostor" name="impostor" value="False" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="noImpostor">Not an Impostor</label>
                                        </div>
                                        <div class="col custom-control custom-radio custom-control-inline m-0">
                                            <input type="radio" id="unknownImpostor" name="impostor" value="None" class="custom-control-input">
                                            <label class="custom-control-label text-light ml-3" for="unknownImpostor">Ejected</label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-dark btn-large btn-block">Generate My GIF</button>
                    </form>
                </div>
            </div>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    </body>
</html>