{% extends 'base.html' %}
{% block title %}Among Us Ejection GIF Generator{% endblock %}
{% block body %}
<div class="container-fluid">
    <div class="jumbotron bg-transparent">
        <h1 class="display-1 text-center text-muted">Among Us Ejection GIF Generator</h1>
    </div>
    <div class="row justify-content-center">
        <div class="col-sm-12 col-md-10 col-lg-8">
            <form action="/ejection" method="POST">
                <div class="form-group text-light">
                    <label for="person">Name</label>
                    <input type="text" class="form-control" name="person">
                </div>
                {% include "_crewmate_selection.html" %}
                <div class="card bg-very-dark mb-3">
                    <div class="card-header" id="identityHeading">
                        <h4 class="mb-0">
                            <button class="btn btn-block text-left text-light" type="button" data-toggle="collapse" data-target="#identityCollapse" aria-expanded="false" aria-controls="identityCollapse">
                                Identity
                            </button>
                        </h4>
                    </div>
                    <div id="identityCollapse" class="collapse hide" aria-labelledby="identityHeading">
                        <div class="card-body">
                            <div class="row">
                                <div class="col custom-control custom-radio custom-control-inline m-0">
                                    <input type="radio" id="randImpostor" name="impostor" value="rand" class="custom-control-input" checked>
                                    <label class="custom-control-label text-light ml-3" for="randImpostor">Random</label>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col custom-control custom-radio custom-control-inline m-0">
                                    <input type="radio" id="yesImpostor" name="impostor" value="True" class="custom-control-input">
                                    <label class="custom-control-label text-light ml-3" for="yesImpostor">Impostor</label>
                                </div>
                                <div class="col custom-control custom-radio custom-control-inline m-0">
                                    <input type="radio" id="noImpostor" name="impostor" value="False" class="custom-control-input">
                                    <label class="custom-control-label text-light ml-3" for="noImpostor">Not an Impostor</label>
                                </div>
                                <div class="col custom-control custom-radio custom-control-inline m-0">
                                    <input type="radio" id="unknownImpostor" name="impostor" value="None" class="custom-control-input">
                                    <label class="custom-control-label text-light ml-3" for="unknownImpostor">Ejected</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-dark btn-large btn-block">Generate My GIF</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
